@import "./vars.css"; 
.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    display: flex;
    position:relative
}

/* hide scrollbar */
::-webkit-scrollbar{
    display: none;
}
